<h1>Welcome#home</h1>
<p>You are logged in!</p>

<div>
	<h1><%= current_user.name %></h1>
	<h2><%= current_user.username %></h2>
	<p><%= current_user.email %></p>
	<p><%= current_user.password %></p>
	<p><%= current_uid %></p>
	<p><%= current_provider %></p>
	<img src="http://graph.facebook.com/<%= current_uid %>/picture/?type=large"/>
</div>

<%= link_to 'Logout', logout_path %>